<head>
    <link href="./../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="./../assets/css/demo.css" rel="stylesheet" />
</head>


<section id="home">

  <!-- <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000" >
    <ngb-carousel>
      <ng-template ngbSlide>
        <img src="assets/img/1.jpg" alt="first" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/2.jpg" alt="third" class="item">
      </ng-template>
      <ng-template ngbSlide>
        <img src="assets/img/3.png" alt="fifth" class="item">
      </ng-template>
    </ngb-carousel>
  </div> -->

  <!-- Home page background cover -->
  <div class="page-header section-dark" style="background-image: url('assets/img/back.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <!-- <div class="angular-logo">
                    <img src="assets/img/angular2-logo.png" alt="">
                </div> -->
                <!-- <h2 class="presentation-title">Agro Spice food Packers</h2> -->
                <!-- <div class="fog-low">
                    <img src="assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="assets/img/fog-low.png" alt="">
                </div> -->
            </div>
  
            <!-- <h2 class="presentation-subtitle text-center">Free Bootstrap 4 UI Kit for Angular 7</h2> -->
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    <!-- <h6 class=" category-absolute ml-auto mr-auto">Designed and coded by -->
    <!-- <h6 class="category category-absolute">Designed and coded by -->
  
        <!-- <a href="https://www.creative-tim.com" target="_blank">
            <img src="assets/img/creative-tim-white-slim2.png" class="creative-tim-logo">
        </a>
    </h6> -->
  </div>



  <div class="container p-5">
    <app-message></app-message>
    <p class="lead">
      <b>Recommended Deals: Last-Minute Deals</b>
    </p>
    <div class="row">
      <div *ngIf="!products" class="m-auto">
        <h1 class="text-center display-3 mt-5">
          <i class="fa fa-spinner fa-spin"></i>
        </h1>
      </div>
      <div *ngFor="let product of products" class="col-md-3 mb-5">
        <a routerLink="/product/{{ product._id }}">
          <div class="card bg-light">
            <img src="{{ product.image }}" alt="product" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">{{ product.title }}</h5>
              <p class="card-text">{{ product.price | currency }}</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  
</section>


 <!--================ Subscription Area ================-->
 <section class="subscription-area section_gap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="section-title text-center">
            <h2>Subscribe for Our Newsletter</h2>
            <span>We won’t send any kind of spam</span>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div id="mc_embed_signup">
            <form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01"
             method="get" class="subscription relative">
              <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'"
               required="">
              <!-- <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
              </div> -->
              <button type="submit" class="newsl-btn">Get Started</button>
              <div class="info"></div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================ End Subscription Area ================-->

