<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- <head>
  <link href="./../assets/css/nucleo-icons.css" rel="stylesheet" />
    <link href="./../assets/css/demo.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  </head> -->

<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="700">
  <div class="container">
    <div class="navbar-translate">
    <a routerLink="/" class="navbar-brand">
      <img src="./assets/img/logo.png" alt="logo" id="logo"> Agro Spice Food Packers
    </a>
    <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()" (click)="isCollapsed = !isCollapsed">
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
      <span class="navbar-toggler-bar"></span>
    </button>
  </div>
    <div [ngbCollapse]="isCollapsed" id="navbar-items" style="align-items: left; margin-left: 50px;" class="collapse navbar-collapse flex-column"
      id="navbarNav navbarToggler">

      <!-- <div class="input-group w-75">
        <input type="text" name="search" class="form-control" [(ngModel)]="searchTerm" (keyup.enter)="search()">
        <span id="searchBtn" class="bg-warning" (click)="search()">
          <i class="fa fa-search"></i>
        </span>
      </div> -->

      <div class="w-200">
        <ul class="navbar-nav">
            <li class="nav-item ml-0 ml-lg-6">
              <a (click)="collapse()" rel="tooltip" routerLink="/categories" routerLinkActive="active" class="nav-link">About</a>
            </li>
            <li class="nav-item ml-0 ml-lg-6">
                <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link">Contact Us</a>
              </li>
              <li class="nav-item ml-0 ml-lg-6">
                <a (click)="collapse()" routerLink="/recipes" routerLinkActive="active" class="nav-link">Recipes</a>
              </li>
          <li class="nav-item ml-0 ml-lg-6">
            <a (click)="collapse()" routerLink="/categories" routerLinkActive="active" class="nav-link">Categories</a>
          </li>
          <li class="nav-item ml-0 ml-lg-6" ngbDropdown #dropdown="ngbDropdown">
            <a class="nav-link dropdown-toggle" ngbDropdownToggle>
              <i class="fa fa-user mr-1"></i>
              <span *ngIf="!token">Accounts</span>
              <span *ngIf="data.user">{{ getShortName(data.user.name) }}</span>
            </a>
            <div ngbDropdownMenu class="dropdown-menu">
              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();" routerLink="/profile" class="dropdown-item">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Profile
              </a>
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/login" class="dropdown-item">
                <i class="fa fa-key" aria-hidden="true"></i> Login
              </a>
              <a *ngIf="token" (click)="closeDropdown(dropdown);collapse();logout();" class="dropdown-item">
                <i class="fa fa-key" aria-hidden="true"></i> Logout
              </a>
              <a *ngIf="!token" (click)="closeDropdown(dropdown);collapse();" routerLink="/register" class="dropdown-item">
                <i class="fa fa-group" aria-hidden="true"></i> Register
              </a>
            </div>
          </li>
          <li class="nav-item ml-0 ml-lg-6">
            <a (click)="collapse()" routerLink="/cart" routerLinkActive="active" class="nav-link">
              <i class="fa fa-shopping-cart mr-1"></i>
              Cart
              <span *ngIf="data.cartItems" class="badge badge-warning ml-1">{{ data.cartItems }}</span>
            </a>
          </li>
          <!-- <li class="nav-item ml-0 ml-lg-5">
              <a routerLink="/" class="navbar-brand">
                <img src="./assets/img/tif.png" alt="logo" id="tif">
              </a>
            </li> -->

            <!-- New Searchbar -->
            <div class="searchbar ml-0 ml-lg-5">
              <input class="search_input" type="text" name="search" (click)="search()" placeholder="Search..." [(ngModel)]="searchTerm" (keyup.enter)="search()">
              <span id="searchBtn" class="search_icon" (click)="search()">
                <i class="fa fa-search"></i>
              </span>
            </div>

        </ul>
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer id="main-footer" class="bg-main text-white mt-5 p-5">
  <div class="container">
    <p class="lead text-center">Copyright &copy; 2018 Agro_Spice_Food_Packers</p>
  </div>
</footer>




<script>
  $(document).ready(function(){

var checkScrollBar = function(){
  $('.bg-dark').css({
    backgroundColor: $(this).scrollTop() > 1 ?
      'rgb(0, 0, 0)' : 'transparent'
  })
}
$(window).on('load resize scroll', checkScrollBar)
});
</script>