
<app-navbar></app-navbar>

<router-outlet></router-outlet>

<footer id="main-footer" class="bg-main text-white mt-5 p-5">
  <div class="container">
    <p class="lead text-center">Copyright &copy; 2018 Agro_Spice_Food_Packers</p>
  </div>
</footer>


<script>
  $(document).ready(function(){

var checkScrollBar = function(){
  $('.bg-dark').css({
    backgroundColor: $(this).scrollTop() > 1 ?
      'rgb(0, 0, 0)' : 'transparent'
  })
}
$(window).on('load resize scroll', checkScrollBar)
});
</script>