<!DOCTYPE html>
        <html lang="en">
        <head>
        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        </head>
   
<!-- Recipes page background cover -->
<div class="page-header section-dark" style="background-image: url('assets/img/recipes.png')">
  <div class="filter"></div>
  <div class="content-center">
      <div class="container">
          <div class="title-brand">
              <!-- <div class="angular-logo">
                  <img src="assets/img/angular2-logo.png" alt="">
              </div> -->
              <!-- <h2 class="presentation-title">Agro Spice food Packers</h2> -->
              <!-- <div class="fog-low">
                  <img src="assets/img/fog-low.png" alt="">
              </div>
              <div class="fog-low right">
                  <img src="assets/img/fog-low.png" alt="">
              </div> -->
          </div>

          <!-- <h2 class="presentation-subtitle text-center">Free Bootstrap 4 UI Kit for Angular 7</h2> -->
      </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>

<body>
<h2 style="text-align: center ; color: maroon">
   SPICE MIX
</h2>
<br>
<hr style="border-top: 3px solid maroon">
<br>
   <!-- <div class="topnav"> -->
        <!-- <a class="active" href="briyani.html" target="_blank">Briyani masala</a> -->
        <!-- <a href="#">Curry masala</a> -->
        <!-- <a href="#">Meat masala powder</a> -->
        <!-- <a href="#">Mutton masala</a> -->
        <!-- <a href="#">Pickle powder</a> -->
        <!-- <a href="#">Sambar powder</a> -->
        <!-- <a href="#">Vegetable masala mix</a> -->
   <!-- </div> -->
<h3 style="text-align: center ; color: black">
    Briyani masala
</h3>
<br>
<h4> Ingredients </h4>


        <li>3 kashmiri red chilli, dried</li>
        <li>7 bay leaf / tej patta</li>
        <li>2 tbsp coriander seeds / dhaniya seeds</li>
        <li>1 tbsp cumin / jeera</li>
        <li>1 tbsp caraway seeds / kala jeera / shah jeera</li>
        <li>3 mace / javitri</li>
        <li>2 inch cinnamon stick / dalchini</li>
        <li>1 nutmeg / jaayaphal</li>
        <li>1 tsp cloves / lavang</li>
        <li>3 black cardamom / badi elachi</li>
        <li>3 star anise / chakkar phool</li>
        <li>10 cardamom / elachi</li>
        <li>1 tbsp pepper / kali mirch</li>
        <li>1 tsp fennel / saunf</li>
        <li>½ tsp turmeric / haldi</li>

<h4> Preparation </h4>
<p>    Firstly, in a thick bottomed pan dry roast 3 red chilli and 7 bay leaf till they turn crisp. keep aside.
        Further dry roast 2 tbsp coriander seeds, 1 tbsp cumin and 1 tbsp caraway seeds till they turn aromatic. Keep aside.
        Also dry roast 3 mace, 2 inch cinnamon stick, 1 nutmeg, 1 tsp cloves, 3 black cardamom, 3 star anise, 10 cardamom, 1 tbsp pepper and 1 tsp fennel / saunf.
        Transfer to a blender and allow to cool completely.
        Also add in ½ tsp turmeric.
        Blend to fine powder and transfer to the airtight container.
        Finally, store biryani masala powder in airtight container and use to prepare biryani.</p>

<hr style="border-top: 2px solid maroon">
<h3 style="text-align: center ; color: black">
    Curry masala
</h3>
<h4> Ingredients </h4>


        <li>2-4 red chillies</li>
        <li>1/2 cup corriander seeds</li>
        <li>1-2 bay leaf</li>
        <li>2 cinnamon sticks</li>
        <li>10 green cardamom pods</li>
        <li>3 black cardamom pods</li>
        <li>1 tsp black pepper corn</li>
        <li>1 tbsp turmeric powder</li>
        <li>3 tbsp cumin seeds and ½ tsp yellow mustard seeds</li>
        <li>1 tbsp chana dal or Bengal gram dal</li>
        <li>1 tsp cloves</li>
        <li>1 tsp white poppy seeds and 2 tbsp dried onion flakes</li>
        <li>a pinch of pink salt</li>
        <li>1 tbsp dried garlic or garlic powder</li>
        <li>a pinch of dried fenugreek leaves</li>

<h4> Preparation </h4>
<p> 
        Heat a frying pan over medium and roast all ingredients one after another except all powders and spices such as red chili powder, garlic powder and turmeric powder.
        Do not over roast the ingredients, or else the whole spices will burn imparting a bitter taste in the end product.
    Allow the ingredients to cool down a bit.
    Add all the spices and ingredients to a spice blender or grinder or food processor.
    Process, blend or grind for a few minutes until a powder is formed.
    Use a medium sieve to shift the powder.
    This is to see if there are any chunks of whole spices. Cinnamon and black cardamoms often leave big unprocessed chunks. Discard the chunks if any.
    Add a pinch of Himalayan pink salt and mix well.
    Store the powder in an air-tight container.

</p>

<hr style="border-top: 2px solid maroon">
<h3 style="text-align: center ; color: black">
    Meat masala powder
</h3>
<h4> Ingredients </h4>


        <li>2tblsp corriander seeds</li>
        <li>7-8 red chilly</li>
        <li>3-4 cardamom seeds</li>
        <li>1/2 tsp fennel seeds</li>
        <li>10 black pepper seeds</li>
        <li>2 inch cinnamon sticks</li>
        <li>6-8 cloves</li>
        <li>1 tsp turmeric powder</li>
        
<h4> Preparation </h4>
<p> 
        Heat a frying pan.
        Place all ingredients for the Chicken Masala, except turmeric powder.
        Roast until crispy and golden brown.
        Turn off the heat and add turmeric powder. Saute well.
        Place roasted Chilly in a food processor or blender, make 2 or 3 rinse.
        Add other roasted ingredients to the blender with rinsed chilly flakes.
        Grind and make a smooth powder.
        Your homemade Chicken/ meat Masala is ready.
        When cooled store in an air-tight container. Use as per your taste and need.  

</p>

<hr style="border-top: 2px solid maroon">
<h3 style="text-align: center ; color: black">
    Mutton masala
</h3>
<h4> Ingredients </h4>


        <li>25g red chillies</li>
        <li>15g corriander seeds</li>
        <li>10g cumin seeds</li>
        <li>10g black pepper</li>
        <li>10g cloves</li>
        <li>10nos dried and fried garlic cloves</li>
        <li>few cinnamon sticks</li>
        <li>few staranise</li>
        <li>5tsp dried mint</li>
        <li>few kasthuri methi</li>
        <li>1tsp mustard</li>
        <li>5g fennel seeds</li>
        <li>salt<li>
        
<h4> Preparation </h4>
<p> 
        Dry fry them one by one and grind them to a fine powder with sufficient salt. 
        Store them in an air tight container.

</p>

<hr style="border-top: 2px solid maroon">
<h3 style="text-align: center ; color: black">
    Pickle powder
</h3>
<h4> Ingredients </h4>


        <li>1 tablespoon turmeric powder ( I use homemade ones)</li>
        <li>30-40 dry red chillies (as per your heat tolerance)</li>
        <li>1/4 cup fenugreek seeds</li>
        <li>1/2 cup mustard seeds</li>
        <li>1 tablespoon cumin seeds</li>
        <li>2 teaspoon asafoetida powder</li>
        <li>Salt to tase, about 2 tablespoon</li>
        <li>Cooking spray to roast dry red chillies or use less than 1 teaspoon sesame oil</li>
     
<h4> Preparation </h4>
<p> 
        Heat oil in a saucepan and roast the dry red chillies until they turn crispy, about 5-8 minutes.
        Dry roast fenugreek seeeds for couple of minute. Make sure you don’t burn it.
        Dry roast the mustard seeds until they pop. It takes around 3-5 minutes. Keep an eye to avoid burning.
        Dry roast the cumin seeds
        Cool and grind them to smooth powder. Add in the turmeric and asafoetida powder.
        If using asafoetida chunks, roast them in 1 teaspoon oil and grind it along with other roasted ingredients.
        Add salt. Mix well to combine. Store in airtight container.

</p>

<hr style="border-top: 2px solid maroon">
<h3 style="text-align: center ; color: black">
    Sambar powder
</h3>
<h4> Ingredients </h4>


        <li>½ cup coriander seeds / dhaniya seeds</li>
        <li>2 tbsp toor dal</li>
        <li>2 tbsp chana dal</li>
        <li>1 tbsp cumin seeds / jeera</li>
        <li>2 tbsp urad dal</li>
        <li>¼ tsp methi / fenugreek seeds</li>
        <li>½ tsp mustard seeds / rai</li>
        <li>handful of curry leaves / kadi patta</li>
        <li>1 tsp black pepper / kali mirch</li>
        <li>20 whole kashmiri red chilli / lal mirch, adjust to your spice level</li>
        <li>1 tsp turmeric / haldi</li>
        <li>¼ tsp hing / asafoetida</li>
        
<h4> Preparation </h4>
<p> 
        Firstly, in a thick bottomed pan add ½ cup of coriander seeds.
        Dry roast on low flame till they turn aromatic.
        Keep aside and allow to cool completely.
        Further, add 2 tbsp toor dal, 2 tbsp chana dal, 2 tbsp urad dal, 1 tbsp cumin seeds and ¼ tsp methi.
        Dry roast on low flame till they turn aromatic.
        Transfer to the same mixer and keep aside.
        Additionally, dry roast mustard seeds, till they splutter.
        Again transfer and keep aside.
        Now, add in handful of curry leaves, 1 tsp black pepper and 20 whole kashmiri red chilli.
        Dry roast on low flame till the chillis puff up and curry leaves turn crisp.
        Also add in 1 tsp turmeric and ¼ tsp hing.
        Dry roast just for 2-3 seconds till they turn aromatic.
        Transfer to the blender and allow to cool completely.
        Now blend to fine and smooth powder.
        Finally, sambar powder is ready, store in a air tight container and use to prepare sambar recipes.

</p>

<hr style="border-top: 2px solid maroon">
<h3 style="text-align: center ; color: black">
    Vegetable masala mix
</h3>
<h4> Ingredients </h4>


        <li>1 1-inch piece fresh ginger, sliced</li>
        <li>2 cloves garlic, peeled</li>
        <li>1 15-oz. can diced tomatoes</li>
        <li>1/2 tsp. cayenne pepper</li>
        <li>2 Tbs. canola or vegetable oil</li>
        <li>1 medium onion, chopped (1 cup)</li>
        <li>1 small yellow bell pepper, diced (1 cup)</li>
        <li>2 medium boiling potatoes, peeled and cubed (1 cup)</li>
        <li>2 medium carrots, sliced (1 cup)</li>
        <li>1 1/2 tsp. Garam Masala</li>
        <li>1/2 tsp. chili powder</li>
        <li>2 cups cauliflower florets (3/4 lb.)</li>
        <li>1/2 cup light coconut milk</li>
        

<h4> Preparation </h4>
<p> 
Pulse ginger and garlic in food processor until finely chopped. Add tomatoes with juice and cayenne pepper, and pulse until combined. Set aside.
Heat oil in saucepan over medium heat. Add onion and bell pepper, and sauté 10 minutes, or until softened. Stir in potatoes, carrots, garam masala, and chili powder. Cover, reduce heat to medium-low, and cook 10 minutes, stirring occasionally.
Add cauliflower, tomato mixture, and 1/2 cup water. Simmer 20 minutes. Remove from heat, and stir in coconut milk. Season with pepper.

</p>
</body>
</html>
